---
interface Props {
  title: string;
  description?: string;
}

const { title, description = 'ホームページへようこそ！' } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:image" content="/img/ogp.png" />
    <meta name="twitter:card" content="summary" />
    <title>{title === 'Rubydog JP' ? title : `${title} - Rubydog JP`}</title>

    <!-- 追加のヘッドコンテンツ -->
    <slot name="head" />

    <!-- Google Analytics -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-HSS2PB95JZ"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-HSS2PB95JZ', { anonymize_ip: true });
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  body {
    margin: 0;
    padding: 0;
  }
</style>
